<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/Cool Text - Security and Action 466186452906631.png"></ion-img>

    <ion-img style=" padding-top: 10%; display: block; margin: auto; width: 90%;"  src="../../../assets/773976-800-800.png"  ></ion-img>

<style>.boton{ padding: 5%;     }</style>

    <ion-row>
      <ion-col class="ion-text-center ">
        <ion-button class="boton">Iniciar Turno</ion-button>
        <ion-button class="boton">Terminar Turno</ion-button>    
      </ion-col>
    </ion-row>



  
</ion-content>